---
import BaseLayout from "@/layouts/BaseLayout.astro"
import Navigation from "@/components/global/Navigation.astro";
import Footer from "@/components/global/Footer.astro";
import { getCollection } from 'astro:content'
import { SITE } from '@/libs/config'
import { useTranslations, locales } from '@/i18n'

export async function getStaticPaths() {
    const entities = await getCollection('privacy')
    const paths = entities.map(entity => {
		const [locale, ...slug] = entity.slug.split('/')
		return {
			params: { locale: locale  || 'en', slug: slug.join('/') || 'undefined' }, 
			props: {
				data: {
					title: "Pricing"
				}
			}
		}
	})

	return paths
}

const { locale } = Astro.params
const t = useTranslations(locale)
---
<BaseLayout>
  <Navigation />
  <section>
    <div class="flex h-screen justify-center px-2 lg:px-48 md:px-32 py-10 lg:py-12 md:py-6">
      <div class="w-full justify-center">
        <div class="flex items-center justify-between flex-wrap">
            <div></div>
          <h2 class="font-medium leading-tight text-primary text-xl font-display">
            { t('locale.chooseLanguage') }
          </h2>
          <input
            type="searchStr"
            class="border-0 px-3 py-2 placeholder-slate-300 text-slate-600 bg-white rounded text-sm shadow focus:outline-none focus:ring ease-linear transition-all duration-150"
            :placeholder="$t('locale.searchStr')"
            v-model="searchStr"
          />
        </div>
        <ul class="p-10 flex-wrap columns-3">
          { Object.keys(locales).map((key) => (
          <li>
            <button 
                class="text-link hover:text-accent"
                v-on:click="() => changeLocale('{locale[key]}')"
            >
              {{ locale }}
            </button>
          </li>
          )) }
        </ul>
        <ul class="hidden">
          <li>
            <a class="text-link hover:text-accent"
              title="马来语（马来西亚）"
              href="https://learn.microsoft.com/ms-my/exchange/client-developer/exchange-web-services/notification-subscriptions-mailbox-events-and-ews-in-exchange"
              lang="ms-my"
              dir="ltr"
              data-locale="ms-my"
              data-bi-name="ms-my"
            >
              Bahasa Melayu
            </a>
          </li>
          <li>
            <a class="text-link hover:text-accent"
              title="波斯尼亚语(拉丁语系)"
              href="https://learn.microsoft.com/bs-latn-ba/exchange/client-developer/exchange-web-services/notification-subscriptions-mailbox-events-and-ews-in-exchange"
              lang="bs-latn-ba"
              dir="ltr"
              data-locale="bs-latn-ba"
              data-bi-name="bs-latn-ba"
            >
              Bosanski
            </a>
          </li>
          <li>
            <a class="text-link hover:text-accent"
              title="加泰罗尼亚语"
              href="https://learn.microsoft.com/ca-es/exchange/client-developer/exchange-web-services/notification-subscriptions-mailbox-events-and-ews-in-exchange"
              lang="ca-es"
              dir="ltr"
              data-locale="ca-es"
              data-bi-name="ca-es"
            >
              Català
            </a>
          </li>
          <li>
            <a class="text-link hover:text-accent"
              title="捷克语"
              href="https://learn.microsoft.com/cs-cz/exchange/client-developer/exchange-web-services/notification-subscriptions-mailbox-events-and-ews-in-exchange"
              lang="cs-cz"
              dir="ltr"
              data-locale="cs-cz"
              data-bi-name="cs-cz"
            >
              Čeština
            </a>
          </li>
          <li>
            <a class="text-link hover:text-accent"
              title="丹麦语"
              href="https://learn.microsoft.com/da-dk/exchange/client-developer/exchange-web-services/notification-subscriptions-mailbox-events-and-ews-in-exchange"
              lang="da-dk"
              dir="ltr"
              data-locale="da-dk"
              data-bi-name="da-dk"
            >
              Dansk
            </a>
          </li>
          <li>
            <a class="text-link hover:text-accent"
              title="德语（奥地利）"
              href="https://learn.microsoft.com/de-at/exchange/client-developer/exchange-web-services/notification-subscriptions-mailbox-events-and-ews-in-exchange"
              lang="de-AT"
              dir="ltr"
              data-locale="de-at"
              data-bi-name="de-at"
            >
              Deutsch (Österreich)
            </a>
          </li>
          <li>
            <a class="text-link hover:text-accent"
              title="德语（瑞士）"
              href="https://learn.microsoft.com/de-ch/exchange/client-developer/exchange-web-services/notification-subscriptions-mailbox-events-and-ews-in-exchange"
              lang="de-CH"
              dir="ltr"
              data-locale="de-ch"
              data-bi-name="de-ch"
            >
              Deutsch (Schweiz)
            </a>
          </li>
          <li>
            <a class="text-link hover:text-accent"
              title="德语"
              href="https://learn.microsoft.com/de-de/exchange/client-developer/exchange-web-services/notification-subscriptions-mailbox-events-and-ews-in-exchange"
              lang="de-de"
              dir="ltr"
              data-locale="de-de"
              data-bi-name="de-de"
            >
              Deutsch
            </a>
          </li>
          <li>
            <a class="text-link hover:text-accent"
              title="爱沙尼亚语"
              href="https://learn.microsoft.com/et-ee/exchange/client-developer/exchange-web-services/notification-subscriptions-mailbox-events-and-ews-in-exchange"
              lang="et-ee"
              dir="ltr"
              data-locale="et-ee"
              data-bi-name="et-ee"
            >
              Eesti
            </a>
          </li>
          <li>
            <a class="text-link hover:text-accent"
              title="英语（澳大利亚）"
              href="https://learn.microsoft.com/en-au/exchange/client-developer/exchange-web-services/notification-subscriptions-mailbox-events-and-ews-in-exchange"
              lang="en-AU"
              dir="ltr"
              data-locale="en-au"
              data-bi-name="en-au"
            >
              English (Australia)
            </a>
          </li>
          <li>
            <a class="text-link hover:text-accent"
              title="英语（加拿大）"
              href="https://learn.microsoft.com/en-ca/exchange/client-developer/exchange-web-services/notification-subscriptions-mailbox-events-and-ews-in-exchange"
              lang="en-CA"
              dir="ltr"
              data-locale="en-ca"
              data-bi-name="en-ca"
            >
              English (Canada)
            </a>
          </li>
          <li>
            <a class="text-link hover:text-accent"
              title="英语（印度）"
              href="https://learn.microsoft.com/en-in/exchange/client-developer/exchange-web-services/notification-subscriptions-mailbox-events-and-ews-in-exchange"
              lang="en-IN"
              dir="ltr"
              data-locale="en-in"
              data-bi-name="en-in"
            >
              English (India)
            </a>
          </li>
          <li>
            <a class="text-link hover:text-accent"
              title="英语（爱尔兰）"
              href="https://learn.microsoft.com/en-ie/exchange/client-developer/exchange-web-services/notification-subscriptions-mailbox-events-and-ews-in-exchange"
              lang="en-IE"
              dir="ltr"
              data-locale="en-ie"
              data-bi-name="en-ie"
            >
              English (Ireland)
            </a>
          </li>
          <li>
            <a class="text-link hover:text-accent"
              title="英语(马来西亚)"
              href="https://learn.microsoft.com/en-my/exchange/client-developer/exchange-web-services/notification-subscriptions-mailbox-events-and-ews-in-exchange"
              lang="en-MY"
              dir="ltr"
              data-locale="en-my"
              data-bi-name="en-my"
            >
              English (Malaysia)
            </a>
          </li>
          <li>
            <a class="text-link hover:text-accent"
              title="英语（新西兰）"
              href="https://learn.microsoft.com/en-nz/exchange/client-developer/exchange-web-services/notification-subscriptions-mailbox-events-and-ews-in-exchange"
              lang="en-NZ"
              dir="ltr"
              data-locale="en-nz"
              data-bi-name="en-nz"
            >
              English (New Zealand)
            </a>
          </li>
          <li>
            <a class="text-link hover:text-accent"
              title="英语（新加坡）"
              href="https://learn.microsoft.com/en-sg/exchange/client-developer/exchange-web-services/notification-subscriptions-mailbox-events-and-ews-in-exchange"
              lang="en-SG"
              dir="ltr"
              data-locale="en-sg"
              data-bi-name="en-sg"
            >
              English (Singapore)
            </a>
          </li>
          <li>
            <a class="text-link hover:text-accent"
              title="英语（南非）"
              href="https://learn.microsoft.com/en-za/exchange/client-developer/exchange-web-services/notification-subscriptions-mailbox-events-and-ews-in-exchange"
              lang="en-ZA"
              dir="ltr"
              data-locale="en-za"
              data-bi-name="en-za"
            >
              English (South Africa)
            </a>
          </li>
          <li>
            <a class="text-link hover:text-accent"
              title="英语（英国）"
              href="https://learn.microsoft.com/en-gb/exchange/client-developer/exchange-web-services/notification-subscriptions-mailbox-events-and-ews-in-exchange"
              lang="en-GB"
              dir="ltr"
              data-locale="en-gb"
              data-bi-name="en-gb"
            >
              English (United Kingdom)
            </a>
          </li>
          <li>
            <a class="text-link hover:text-accent"
              title="英语（美国）"
              href="https://learn.microsoft.com/en-us/exchange/client-developer/exchange-web-services/notification-subscriptions-mailbox-events-and-ews-in-exchange"
              lang="en-us"
              dir="ltr"
              data-locale="en-us"
              data-bi-name="en-us"
            >
              English (United States)
            </a>
          </li>
          <li>
            <a class="text-link hover:text-accent"
              title="西班牙语(墨西哥)"
              href="https://learn.microsoft.com/es-mx/exchange/client-developer/exchange-web-services/notification-subscriptions-mailbox-events-and-ews-in-exchange"
              lang="es-MX"
              dir="ltr"
              data-locale="es-mx"
              data-bi-name="es-mx"
            >
              Español (México)
            </a>
          </li>
          <li>
            <a class="text-link hover:text-accent"
              title="西班牙语"
              href="https://learn.microsoft.com/es-es/exchange/client-developer/exchange-web-services/notification-subscriptions-mailbox-events-and-ews-in-exchange"
              lang="es-es"
              dir="ltr"
              data-locale="es-es"
              data-bi-name="es-es"
            >
              Español
            </a>
          </li>
          <li>
            <a class="text-link hover:text-accent"
              title="巴斯克语"
              href="https://learn.microsoft.com/eu-es/exchange/client-developer/exchange-web-services/notification-subscriptions-mailbox-events-and-ews-in-exchange"
              lang="eu-es"
              dir="ltr"
              data-locale="eu-es"
              data-bi-name="eu-es"
            >
              Euskara
            </a>
          </li>
          <li>
            <a class="text-link hover:text-accent"
              title="菲律宾语"
              href="https://learn.microsoft.com/fil-ph/exchange/client-developer/exchange-web-services/notification-subscriptions-mailbox-events-and-ews-in-exchange"
              lang="fil-ph"
              dir="ltr"
              data-locale="fil-ph"
              data-bi-name="fil-ph"
            >
              Filipino
            </a>
          </li>
          <li>
            <a class="text-link hover:text-accent"
              title="法语（比利时）"
              href="https://learn.microsoft.com/fr-be/exchange/client-developer/exchange-web-services/notification-subscriptions-mailbox-events-and-ews-in-exchange"
              lang="fr-BE"
              dir="ltr"
              data-locale="fr-be"
              data-bi-name="fr-be"
            >
              Français (Belgique)
            </a>
          </li>
          <li>
            <a class="text-link hover:text-accent"
              title="法语（加拿大）"
              href="https://learn.microsoft.com/fr-ca/exchange/client-developer/exchange-web-services/notification-subscriptions-mailbox-events-and-ews-in-exchange"
              lang="fr-CA"
              dir="ltr"
              data-locale="fr-ca"
              data-bi-name="fr-ca"
            >
              Français (Canada)
            </a>
          </li>
          <li>
            <a class="text-link hover:text-accent"
              title="法语（瑞士）"
              href="https://learn.microsoft.com/fr-ch/exchange/client-developer/exchange-web-services/notification-subscriptions-mailbox-events-and-ews-in-exchange"
              lang="fr-CH"
              dir="ltr"
              data-locale="fr-ch"
              data-bi-name="fr-ch"
            >
              Français (Suisse)
            </a>
          </li>
          <li>
            <a class="text-link hover:text-accent"
              title="法语"
              href="https://learn.microsoft.com/fr-fr/exchange/client-developer/exchange-web-services/notification-subscriptions-mailbox-events-and-ews-in-exchange"
              lang="fr-fr"
              dir="ltr"
              data-locale="fr-fr"
              data-bi-name="fr-fr"
            >
              Français
            </a>
          </li>
          <li>
            <a class="text-link hover:text-accent"
              title="爱尔兰语"
              href="https://learn.microsoft.com/ga-ie/exchange/client-developer/exchange-web-services/notification-subscriptions-mailbox-events-and-ews-in-exchange"
              lang="ga-ie"
              dir="ltr"
              data-locale="ga-ie"
              data-bi-name="ga-ie"
            >
              Gaeilge
            </a>
          </li>
          <li>
            <a class="text-link hover:text-accent"
              title="加利西亚语"
              href="https://learn.microsoft.com/gl-es/exchange/client-developer/exchange-web-services/notification-subscriptions-mailbox-events-and-ews-in-exchange"
              lang="gl-es"
              dir="ltr"
              data-locale="gl-es"
              data-bi-name="gl-es"
            >
              Galego
            </a>
          </li>
          <li>
            <a class="text-link hover:text-accent"
              title="格鲁吉亚语"
              href="https://learn.microsoft.com/ka-ge/exchange/client-developer/exchange-web-services/notification-subscriptions-mailbox-events-and-ews-in-exchange"
              lang="ka-ge"
              dir="ltr"
              data-locale="ka-ge"
              data-bi-name="ka-ge"
            >
              ქართული
            </a>
          </li>
          <li>
            <a class="text-link hover:text-accent"
              title="克罗地亚语"
              href="https://learn.microsoft.com/hr-hr/exchange/client-developer/exchange-web-services/notification-subscriptions-mailbox-events-and-ews-in-exchange"
              lang="hr-hr"
              dir="ltr"
              data-locale="hr-hr"
              data-bi-name="hr-hr"
            >
              Hrvatski
            </a>
          </li>
          <li>
            <a class="text-link hover:text-accent"
              title="冰岛语"
              href="https://learn.microsoft.com/is-is/exchange/client-developer/exchange-web-services/notification-subscriptions-mailbox-events-and-ews-in-exchange"
              lang="is-is"
              dir="ltr"
              data-locale="is-is"
              data-bi-name="is-is"
            >
              Íslenska
            </a>
          </li>
          <li>
            <a class="text-link hover:text-accent"
              title="意大利语（瑞士）"
              href="https://learn.microsoft.com/it-ch/exchange/client-developer/exchange-web-services/notification-subscriptions-mailbox-events-and-ews-in-exchange"
              lang="it-CH"
              dir="ltr"
              data-locale="it-ch"
              data-bi-name="it-ch"
            >
              Italiano (Svizzera)
            </a>
          </li>
          <li>
            <a class="text-link hover:text-accent"
              title="意大利语"
              href="https://learn.microsoft.com/it-it/exchange/client-developer/exchange-web-services/notification-subscriptions-mailbox-events-and-ews-in-exchange"
              lang="it-it"
              dir="ltr"
              data-locale="it-it"
              data-bi-name="it-it"
            >
              Italiano
            </a>
          </li>
          <li>
            <a class="text-link hover:text-accent"
              title="拉脱维亚语"
              href="https://learn.microsoft.com/lv-lv/exchange/client-developer/exchange-web-services/notification-subscriptions-mailbox-events-and-ews-in-exchange"
              lang="lv-lv"
              dir="ltr"
              data-locale="lv-lv"
              data-bi-name="lv-lv"
            >
              Latviešu
            </a>
          </li>
          <li>
            <a class="text-link hover:text-accent"
              title="卢森堡语"
              href="https://learn.microsoft.com/lb-lu/exchange/client-developer/exchange-web-services/notification-subscriptions-mailbox-events-and-ews-in-exchange"
              lang="lb-lu"
              dir="ltr"
              data-locale="lb-lu"
              data-bi-name="lb-lu"
            >
              Lëtzebuergesch
            </a>
          </li>
          <li>
            <a class="text-link hover:text-accent"
              title="立陶宛语"
              href="https://learn.microsoft.com/lt-lt/exchange/client-developer/exchange-web-services/notification-subscriptions-mailbox-events-and-ews-in-exchange"
              lang="lt-lt"
              dir="ltr"
              data-locale="lt-lt"
              data-bi-name="lt-lt"
            >
              Lietuvių
            </a>
          </li>
          <li>
            <a class="text-link hover:text-accent"
              title="匈牙利语"
              href="https://learn.microsoft.com/hu-hu/exchange/client-developer/exchange-web-services/notification-subscriptions-mailbox-events-and-ews-in-exchange"
              lang="hu-hu"
              dir="ltr"
              data-locale="hu-hu"
              data-bi-name="hu-hu"
            >
              Magyar
            </a>
          </li>
          <li>
            <a class="text-link hover:text-accent"
              title="马耳他语"
              href="https://learn.microsoft.com/mt-mt/exchange/client-developer/exchange-web-services/notification-subscriptions-mailbox-events-and-ews-in-exchange"
              lang="mt-mt"
              dir="ltr"
              data-locale="mt-mt"
              data-bi-name="mt-mt"
            >
              Malti
            </a>
          </li>
          <li>
            <a class="text-link hover:text-accent"
              title="荷兰语（比利时）"
              href="https://learn.microsoft.com/nl-be/exchange/client-developer/exchange-web-services/notification-subscriptions-mailbox-events-and-ews-in-exchange"
              lang="nl-BE"
              dir="ltr"
              data-locale="nl-be"
              data-bi-name="nl-be"
            >
              Nederlands (België)
            </a>
          </li>
          <li>
            <a class="text-link hover:text-accent"
              title="荷兰语"
              href="https://learn.microsoft.com/nl-nl/exchange/client-developer/exchange-web-services/notification-subscriptions-mailbox-events-and-ews-in-exchange"
              lang="nl-nl"
              dir="ltr"
              data-locale="nl-nl"
              data-bi-name="nl-nl"
            >
              Nederlands
            </a>
          </li>
          <li>
            <a class="text-link hover:text-accent"
              title="书面挪威语"
              href="https://learn.microsoft.com/nb-no/exchange/client-developer/exchange-web-services/notification-subscriptions-mailbox-events-and-ews-in-exchange"
              lang="nb-NO"
              dir="ltr"
              data-locale="nb-no"
              data-bi-name="nb-no"
            >
              Norsk Bokmål
            </a>
          </li>
          <li>
            <a class="text-link hover:text-accent"
              title="波兰语"
              href="https://learn.microsoft.com/pl-pl/exchange/client-developer/exchange-web-services/notification-subscriptions-mailbox-events-and-ews-in-exchange"
              lang="pl-pl"
              dir="ltr"
              data-locale="pl-pl"
              data-bi-name="pl-pl"
            >
              Polski
            </a>
          </li>
          <li>
            <a class="text-link hover:text-accent"
              title="葡萄牙语（巴西）"
              href="https://learn.microsoft.com/pt-br/exchange/client-developer/exchange-web-services/notification-subscriptions-mailbox-events-and-ews-in-exchange"
              lang="pt-BR"
              dir="ltr"
              data-locale="pt-br"
              data-bi-name="pt-br"
            >
              Português (Brasil)
            </a>
          </li>
          <li>
            <a class="text-link hover:text-accent"
              title="葡萄牙语(葡萄牙)"
              href="https://learn.microsoft.com/pt-pt/exchange/client-developer/exchange-web-services/notification-subscriptions-mailbox-events-and-ews-in-exchange"
              lang="pt-pt"
              dir="ltr"
              data-locale="pt-pt"
              data-bi-name="pt-pt"
            >
              Português (Portugal)
            </a>
          </li>
          <li>
            <a class="text-link hover:text-accent"
              title="罗马尼亚语"
              href="https://learn.microsoft.com/ro-ro/exchange/client-developer/exchange-web-services/notification-subscriptions-mailbox-events-and-ews-in-exchange"
              lang="ro-ro"
              dir="ltr"
              data-locale="ro-ro"
              data-bi-name="ro-ro"
            >
              Română
            </a>
          </li>
          <li>
            <a class="text-link hover:text-accent"
              title="斯洛伐克语"
              href="https://learn.microsoft.com/sk-sk/exchange/client-developer/exchange-web-services/notification-subscriptions-mailbox-events-and-ews-in-exchange"
              lang="sk-sk"
              dir="ltr"
              data-locale="sk-sk"
              data-bi-name="sk-sk"
            >
              Slovenčina
            </a>
          </li>
          <li>
            <a class="text-link hover:text-accent"
              title="斯洛文尼亚语"
              href="https://learn.microsoft.com/sl-si/exchange/client-developer/exchange-web-services/notification-subscriptions-mailbox-events-and-ews-in-exchange"
              lang="sl-si"
              dir="ltr"
              data-locale="sl-si"
              data-bi-name="sl-si"
            >
              Slovenski
            </a>
          </li>
          <li>
            <a class="text-link hover:text-accent"
              title="塞尔维亚语（拉丁）"
              href="https://learn.microsoft.com/sr-latn-rs/exchange/client-developer/exchange-web-services/notification-subscriptions-mailbox-events-and-ews-in-exchange"
              lang="sr-latn-rs"
              dir="ltr"
              data-locale="sr-latn-rs"
              data-bi-name="sr-latn-rs"
            >
              Srbija - Srpski
            </a>
          </li>
          <li>
            <a class="text-link hover:text-accent"
              title="芬兰语"
              href="https://learn.microsoft.com/fi-fi/exchange/client-developer/exchange-web-services/notification-subscriptions-mailbox-events-and-ews-in-exchange"
              lang="fi-fi"
              dir="ltr"
              data-locale="fi-fi"
              data-bi-name="fi-fi"
            >
              Suomi
            </a>
          </li>
          <li>
            <a class="text-link hover:text-accent"
              title="瑞典语"
              href="https://learn.microsoft.com/sv-se/exchange/client-developer/exchange-web-services/notification-subscriptions-mailbox-events-and-ews-in-exchange"
              lang="sv-se"
              dir="ltr"
              data-locale="sv-se"
              data-bi-name="sv-se"
            >
              Svenska
            </a>
          </li>
          <li>
            <a class="text-link hover:text-accent"
              title="越南语"
              href="https://learn.microsoft.com/vi-vn/exchange/client-developer/exchange-web-services/notification-subscriptions-mailbox-events-and-ews-in-exchange"
              lang="vi-vn"
              dir="ltr"
              data-locale="vi-vn"
              data-bi-name="vi-vn"
            >
              TiếngViệt
            </a>
          </li>
          <li>
            <a class="text-link hover:text-accent"
              title="土耳其语"
              href="https://learn.microsoft.com/tr-tr/exchange/client-developer/exchange-web-services/notification-subscriptions-mailbox-events-and-ews-in-exchange"
              lang="tr-tr"
              dir="ltr"
              data-locale="tr-tr"
              data-bi-name="tr-tr"
            >
              Türkçe
            </a>
          </li>
          <li>
            <a class="text-link hover:text-accent"
              title="希腊语"
              href="https://learn.microsoft.com/el-gr/exchange/client-developer/exchange-web-services/notification-subscriptions-mailbox-events-and-ews-in-exchange"
              lang="el-gr"
              dir="ltr"
              data-locale="el-gr"
              data-bi-name="el-gr"
            >
              Ελληνικά
            </a>
          </li>
          <li>
            <a class="text-link hover:text-accent"
              title="保加利亚语"
              href="https://learn.microsoft.com/bg-bg/exchange/client-developer/exchange-web-services/notification-subscriptions-mailbox-events-and-ews-in-exchange"
              lang="bg-bg"
              dir="ltr"
              data-locale="bg-bg"
              data-bi-name="bg-bg"
            >
              Български
            </a>
          </li>
          <li>
            <a class="text-link hover:text-accent"
              title="哈萨克语"
              href="https://learn.microsoft.com/kk-kz/exchange/client-developer/exchange-web-services/notification-subscriptions-mailbox-events-and-ews-in-exchange"
              lang="kk-kz"
              dir="ltr"
              data-locale="kk-kz"
              data-bi-name="kk-kz"
            >
              қазақ тілі
            </a>
          </li>
          <li>
            <a class="text-link hover:text-accent"
              title="俄语"
              href="https://learn.microsoft.com/ru-ru/exchange/client-developer/exchange-web-services/notification-subscriptions-mailbox-events-and-ews-in-exchange"
              lang="ru-ru"
              dir="ltr"
              data-locale="ru-ru"
              data-bi-name="ru-ru"
            >
              Русский
            </a>
          </li>
          <li>
            <a class="text-link hover:text-accent"
              title="塞尔维亚语（西里尔）"
              href="https://learn.microsoft.com/sr-cyrl-rs/exchange/client-developer/exchange-web-services/notification-subscriptions-mailbox-events-and-ews-in-exchange"
              lang="sr-cyrl-rs"
              dir="ltr"
              data-locale="sr-cyrl-rs"
              data-bi-name="sr-cyrl-rs"
            >
              Српски
            </a>
          </li>
          <li>
            <a class="text-link hover:text-accent"
              title="乌克兰语"
              href="https://learn.microsoft.com/uk-ua/exchange/client-developer/exchange-web-services/notification-subscriptions-mailbox-events-and-ews-in-exchange"
              lang="uk-ua"
              dir="ltr"
              data-locale="uk-ua"
              data-bi-name="uk-ua"
            >
              Українська
            </a>
          </li>
          <li>
            <a class="text-link hover:text-accent"
              title="希伯来语"
              href="https://learn.microsoft.com/he-il/exchange/client-developer/exchange-web-services/notification-subscriptions-mailbox-events-and-ews-in-exchange"
              lang="he-il"
              dir="rtl"
              data-locale="he-il"
              data-bi-name="he-il"
            >
              עברית‏
            </a>
          </li>
          <li>
            <a class="text-link hover:text-accent"
              title="阿拉伯语"
              href="https://learn.microsoft.com/ar-sa/exchange/client-developer/exchange-web-services/notification-subscriptions-mailbox-events-and-ews-in-exchange"
              lang="ar-sa"
              dir="rtl"
              data-locale="ar-sa"
              data-bi-name="ar-sa"
            >
              العربية
            </a>
          </li>
          <li>
            <a class="text-link hover:text-accent"
              title="Hindi"
              href="https://learn.microsoft.com/hi-in/exchange/client-developer/exchange-web-services/notification-subscriptions-mailbox-events-and-ews-in-exchange"
              lang="hi-in"
              dir="ltr"
              data-locale="hi-in"
              data-bi-name="hi-in"
            >
              हिंदी
            </a>
          </li>
          <li>
            <a class="text-link hover:text-accent"
              title="泰语"
              href="https://learn.microsoft.com/th-th/exchange/client-developer/exchange-web-services/notification-subscriptions-mailbox-events-and-ews-in-exchange"
              lang="th-th"
              dir="ltr"
              data-locale="th-th"
              data-bi-name="th-th"
            >
              ไทย
            </a>
          </li>
          <li>
            <a class="text-link hover:text-accent"
              title="韩语"
              href="https://learn.microsoft.com/ko-kr/exchange/client-developer/exchange-web-services/notification-subscriptions-mailbox-events-and-ews-in-exchange"
              lang="ko-kr"
              dir="ltr"
              data-locale="ko-kr"
              data-bi-name="ko-kr"
            >
              한국어
            </a>
          </li>
          <li class="selected">
            <a class="text-link hover:text-accent"
              title="中文(简体)"
              href="https://learn.microsoft.com/zh-cn/exchange/client-developer/exchange-web-services/notification-subscriptions-mailbox-events-and-ews-in-exchange"
              lang="zh-CN"
              dir="ltr"
              data-locale="zh-cn"
              data-bi-name="zh-cn"
            >
              中文 (简体)
            </a>
          </li>
          <li>
            <a class="text-link hover:text-accent"
              title="中文(繁体)"
              href="https://learn.microsoft.com/zh-tw/exchange/client-developer/exchange-web-services/notification-subscriptions-mailbox-events-and-ews-in-exchange"
              lang="zh-tw"
              dir="ltr"
              data-locale="zh-tw"
              data-bi-name="zh-tw"
            >
              中文 (繁體)
            </a>
          </li>
          <li>
            <a class="text-link hover:text-accent"
              title="中文（繁体，香港特别行政区）"
              href="https://learn.microsoft.com/zh-hk/exchange/client-developer/exchange-web-services/notification-subscriptions-mailbox-events-and-ews-in-exchange"
              lang="zh-hk"
              dir="ltr"
              data-locale="zh-hk"
              data-bi-name="zh-hk"
            >
              中文 (繁體 香港特別行政區)
            </a>
          </li>
          <li>
            <a class="text-link hover:text-accent"
              title="日语"
              href="https://learn.microsoft.com/ja-jp/exchange/client-developer/exchange-web-services/notification-subscriptions-mailbox-events-and-ews-in-exchange"
              lang="ja-jp"
              dir="ltr"
              data-locale="ja-jp"
              data-bi-name="ja-jp"
            >
              日本語
            </a>
          </li>
        </ul>
      </div>
    </div>
  </section>
  <Footer />
</BaseLayout>