---
import Link from "@/components/head/Link.astro";
import Metadata from '@/components/head/Metadata.astro';

const { metadata = {} } = Astro.props;
---
<html
  lang="en"
  class="scroll-smooth selection:bg-accent-lighter selection:text-primary no-touchevents hydrated">
  <head>
    <Metadata {...metadata} />
    <Link />
  </head>
  <body class="bg-default">
        <main class="grid min-h-full place-items-center px-6 py-24 sm:py-32 lg:px-8">
            <div class="text-center">
                <p class="text-base font-semibold text-accent">404</p>
                <h1 class="mt-4 text-3xl font-bold tracking-tight text-primary-light sm:text-5xl">Page not found</h1>
                <p class="mt-6 text-base leading-7 text-primary-light">Sorry, we couldn't find the page you're looking for.</p>
                <div class="mt-10 flex items-center justify-center gap-x-6">
                <a href="/" class="rounded-md bg-accent px-3.5 py-2.5 text-sm font-semibold text-default shadow-sm hover:bg-accent-light focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Go back home</a>
                </div>
            </div>
        </main>
  </body>
</html>