---
import Link from "@/components/head/Link.astro";
import Metadata from '@/components/head/Metadata.astro';

const { metadata = {} } = Astro.props;
---

<html
  lang="en"
  class="scroll-smooth selection:bg-accent-lighter selection:text-primary no-touchevents hydrated">
  <head>
    <Metadata {...metadata} />
    <Link />
  </head>

  <body class="bg-default">
    <slot />
  </body>
</html>
