---
import { useTranslations } from '@/i18n'
import { SITE, HEADER } from '@/libs/config';
const { locale } = Astro.params
const t = useTranslations(locale)
const getHref = (path) => SITE.appSite + path
---
<a href={getHref("register")}
  class="auth-item block px-4 py-2 mt-2 text-sm font-medium text-link hover:text-accent md:mt-0 focus:outline-none focus:shadow-outline">
  {t('menu.signUp')}
</a>
<a href={getHref("login")}
  class="auth-item block px-4 py-2 mt-2 text-sm font-medium text-link hover:text-accent md:mt-0 focus:outline-none focus:shadow-outline">
  {t('menu.login')}
</a>
<div id="profile-menu">
    <a
        class="cursor-pointer text-link hover:text-accent px-3 py-4 lg:py-2 flex items-center text-xs uppercase font-bold truncate max-w-40"
        id="profile"
    >
        {t('menu.profile')}
    </a>
    <div
      id="profile-dropdown"
        class="absolute hidden text-base z-50 bg-default border border-default-deep/30 float-left py-2 list-none text-left rounded shadow-lg min-w-48"
    >
        <a
            href={getHref("profile")}
            class="text-sm py-2 px-4 font-normal block w-full whitespace-nowrap text-link hover:text-accent bg-transparent"
        >
            {t('menu.profile')}
        </a>
        <a
            href={getHref("logout")}
            class="text-sm py-2 px-4 font-normal block w-full whitespace-nowrap text-link hover:text-accent bg-transparent"
        >
            {t('menu.logout')}
        </a>
    </div>
</div>

<script is:inline define:vars={{ locale }}>
  const session = JSON.parse(localStorage.getItem('session') || '{}')?.data || {}
  var authItems = document.getElementsByClassName('auth-item')
  var profileDom = document.getElementById('profile')
  var profileMenu = document.getElementById('profile-menu')
  var profileDropdown = document.getElementById('profile-dropdown')
  
  function showAuthBtns(shown) {
    for (var authItem of authItems) {
      if (shown) authItem.classList.remove("hidden")
      else authItem.classList.add("hidden")
    }
    if (shown) profileMenu.classList.add("hidden")
    else profileMenu.classList.remove("hidden")
  }
  profileDom.onclick = function () {
    profileDropdown.classList.contains('hidden') ? profileDropdown.classList.remove('hidden') : profileDropdown.classList.add('hidden')
  }
  if (session && session.nickname) {
    profileDom.innerText = session.nickname
    showAuthBtns(false)
  } else {
    showAuthBtns(true)
  }
</script>